.env
node_modules
.expo
ios/
android/
.DS_Store
*.der
upload_cert_new.der
*.pem
upload_cert_new.pem
*.p8
*.ipa
build/
private_keys/
website/.firebase/
website/node_modules/
screenshot*.png
RoutingAppCoverage*.geojson
