modules = ["nodejs-20"]

run = "npm run dev"

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 80

[[ports]]
localPort = 8083
externalPort = 3000

[deployment]
run = ["node", "build-and-serve.js"]
deploymentTarget = "gce"

[nix]
packages = ["nano"]
